.App {
  margin: 50px;
}

.time_button {
  width: 100px;
  height: 40px;
  background-color: white;
  color: green;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
}

.show_time_list {
  margin-top: 20px;
  width: 100%;
}

.dropdown {
  position: relative;
}
